# coregs output and most input data
*_output/*
graps_input/*
data/*

!*_output/README.md
!graps_input/README.md
!data/README.md

!graps_input/default

# graps directory, this should be pulled from a separate repository
graps

# dev environment 
.vscode
.venv
*.code-workspace
nohup.out

# python module cache
__pycache__

# backup files
**/*.bkp

# trial scripts and output
run_output
*.sh
*.log
scens.dat

# files for mpi execution of model
mpi_files

# pyvenv location
coregs-env/*
coregs-env
